<% include partials/header %>
   <div class="ui main text container">
        <div class="ui huge header">Blog Site</div>
        <% if (blogs.length == 0){ %>
            <div class="ui message">
                <div class="header">
                    No blogs available
                </div>
            </div>
        <% } else { %>   
            <div class="ui top attached segment">
                <div class="ui divided items">
                    <% blogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>">
                        </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%=blog._id %>"><%= blog.title %></a>
                            <div class="meta">
                                <span class="cinema"><%= blog.created.toDateString() %></span>
                            </div>
                            <div class="description">
                                <p><%= blog.body.substring(0,50); %></p>
                            </div>
                            <div class="extra">
                                <a href="/blogs/<%=blog._id %>" class="ui floated basic violet button">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
        <%  } %>
        </div>
    </div>
<% include partials/footer %>

 
