<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui medium centered image" src="<%= blog.image %>">
        </div>
        <div class="content">
            <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
            <p><%- blog.body %></p>
        </div>
        <a href="/blogs/<%= blog._id %>/edit" class="ui basic blue button">Edit</a>
        <form id="deleteForm" method='POST' action="/blogs/<%= blog._id %>?_method=DELETE">
            <button class="ui basic red button">Delete</button>
        </form>
    </div>

</div>

<% include partials/footer %>